venv/
*.pyc
__pycache__/
*.sqlite3
*.sql
*.DS_Store
*.env
.idea/
*csr
/media/
/static/
/staticfiles/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
/disruptionV2/*.bak
